@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Administracion";
}


<main role="main" class="col-9 ml-sm-auto col-lg-10 px-md-4">
    <div class="text-center">
        <img width="400" src="~/imagenes/logo.png" alt="Around" />
    </div>
</main>
