@{
    ViewData["Title"] = "Acceso denegado";
}
<h1>@ViewData["Title"]</h1>

<p>Acceso Denegado</p>
<div class="text-center">
    <img width="400" src="~/imagenes/forbbiden.png" alt="Around" />
</div>
