@model Autores
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Editar Autores";
}

<div class="text-center">
    <h2 class="display-4">Editar Autor</h2>
</div>
<div>
    @Html.ValidationSummary(false, "", new {@class = "text-danger"})
</div>
<div class="container">
    <form class="needs-validation" novalidate method="POST" asp-controller="Autores" asp-action="Update">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="idAutor">
        <div class="form-group">
            <label for="inputNombre">Nombre(s): </label>
            <input asp-for="nombre" type="text" class="form-control" id="inputNombre" required>
            <div class="valid-feedback">
                Dato ingresado.
            </div>
            <div class="invalid-feedback">
                El nombre es un campo obligatorio.
            </div>
        </div>

        <div class="form-group">
            <label for="inputPaterno">Apellido Paterno: </label>
            <input type="text" asp-for="aPaterno" class="form-control" id="inputPaterno" required>
            <div class="valid-feedback">
                Dato ingresado.
            </div>
            <div class="invalid-feedback">
                El apellido paterno es un campo obligatorio.
            </div>
        </div>

        <div class="form-group">
            <label for="inputMaterno">Apellido Materno: </label>
            <input type="text" asp-for="aMaterno" class="form-control" id="inputMaterno">
            <div class="valid-feedback">
                Dato ingresado.
            </div>
        </div>

        <div class="form-group">
            <label for="inputNacionalidad">Nacionalidad: </label>
            <input type="text" asp-for="nacionalidad" class="form-control" id="inputNacionalidad" required>
            <div class="valid-feedback">
                Dato ingresado.
            </div>
            <div class="invalid-feedback">
                La nacionalidad es un campo obligatorio.
            </div>
        </div>

        <hr>
        <button type="submit" class="btn btn-primary">Guardar canbios</Button>
        <a class="btn btn-danger" asp-controller="Autores" asp-action="List">Regresar a la lista</a>
    </form>
</div>
